---
const { title, description = '' } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const url = new URL(Astro.request.url);
const path = url.pathname;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}
<link rel="canonical" href={canonicalUrl} />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="mask-icon" href="/favicon.svg" color="#de904d" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}
